body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #FEC511;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  padding-bottom: 0px;
}

.login {
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
  color: #5B5B5B;
}

button {
  background-color: #5B5B5B;
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 14px;
  border-radius: 5px;
  color: white;
}
button a{
  text-decoration: none;
  color: #5B5B5B
}

.logo {
  padding-left: 20px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 25px;
  width: 300px;
  background-color: #5B5B5B;
  border-radius: 10px;
  margin-top: 40px;
  justify-content: center;
}

.container h1 {
  text-align: center;
  color: #FEC511;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 30px;
}

.container h2 {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
}

.container label {
  text-align: left;
  color: #90caf9;
}

.container form input {
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 20px;
}

.container form button {
  border: none;
  width: 100%;
  background-color: #FEC511;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: #5B5B5B;
  font-weight: bold;
  align-items: center;
}

.input {
  padding: 15px;
  border: none;
}

input::placeholder {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.forget {
  color: #FFFFFF;
  font-size: 10px;
  padding-bottom: 9px;
}

.link {
  color: #FFFFFF;
}